html, body {
  height: 100%;
  margin: 0;
}

#map {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#search-container {
  position: absolute;
  top: 15px;
  left: 50px;
  z-index: 1000;
}

#searchInput {
  padding: 8px 12px;
  width: 280px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 13px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

#searchInput:focus {
  outline: none;
  border-color: #6a0dad;
}


